<footer class="app-footer">
    <div class="float-end d-none d-sm-inline">
        Todos los derechos reservados.
    </div>
    <strong>
        Copyright &copy; 2026&nbsp; <a href="#" class="text-decoration-none">SISTEMA MISIÓN BOLIVIANA OCCIDENTAL SUR</a>.
    </strong>
    Todos los derechos reservados.
    </footer>