<aside class="app-sidebar shadow" data-bs-theme="ligth" >
    <div class="sidebar-brand style="background-color: rgba(0,0,0,0.05);">
        <a href="/" class="brand-link">
            <img src="~/images/logoiasd.png" alt="IASD Logo" class="brand-image opacity-75 shadow" />
            <span class="brand-text fw-light">MBOS</span>
        </a>
    </div>
    <div class="sidebar-wrapper">
        <nav class="mt-2">
            <ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="navigation" aria-label="Main navigation" data-accordion="false" id="navigation">
                <li class="nav-header">PANEL</li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Dashboard" asp-action="Index">
                        <i class="bi bi-speedometer2 me-2 text-primary"></i> 
                       <p> Panel de Control</p>
                    </a>
                </li>
               

                <li class="nav-header">MENÚ PRINCIPAL</li>
                <li class="nav-item">
                    <a asp-controller="Eventos" asp-action="Index" class="nav-link">
                        <i class="nav-icon bi bi-calendar-event"></i>
                        <p>Mi Agenda</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="MisEventos" asp-action="Index" 
                    class="nav-link @(ViewContext.RouteData.Values["Controller"]?.ToString() == "MisEventos" ? "active" : "")">
                        <i class="nav-icon bi bi-calendar2-check-fill text-primary"></i>
                        <p>
                            Mis Eventos
                            <span class="badge bg-primary float-end" id="badgeTotalMisEventos" style="display:none;">0</span>
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/Invitaciones/Index" class="nav-link" id="nav-invitaciones">
                        <i class="nav-icon bi bi-envelope-paper-fill text-warning"></i>
                        <p>
                            Mis Invitaciones
                            <span id="sidebar-notif-badge" class="badge bg-danger float-end d-none">0</span>
                        </p>
                    </a>
                </li>
                
                
               

            </ul>
            </nav>
    </div>
    </aside>